<p id="notice"><%= notice %></p>

<p>
  <strong>Netid:</strong>
  <%= @user.netid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Can View Private:</strong>
  <%= @user.private.yesno %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin.yesno %>
</p>

<%= link_to 'Edit Again', edit_user_path(@user), class: 'btn btn-danger' %>
<%= link_to 'Done', users_path, class: 'btn btn-success' %>
